---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import PostPreview from "../components/PostPreview.astro";

import postType from "../types/Post.ts";

interface MarkdownFrontmatter {
    publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Helgesson.Dev";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://helgesson.dev/";

// Data Fetching: List all Markdown posts in the repo.

let allPosts: postType[] = await Astro.fetchContent("./posts/*.md");
allPosts = allPosts.sort(
    (a, b) =>
        new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
);

console.log(allPosts);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en" theme="dark">
    <head>
        <BaseHead {title} {description} {permalink} />
        <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />

        <style>
            .wrapper {
                margin-left: 1rem;
            }

            .posts {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }
        </style>
    </head>

    <body>
        <Header />
        <div class="wrapper">
            <main class="content">
                <section class="intro">
                    <h1 class="latest">{title}</h1>
                    <p>{description}</p>
                </section>
                <section class="posts" aria-label="Blog post list">
                    {allPosts.map(post => (
                        <PostPreview {post} />
                    ))}
                </section>
            </main>
        </div>
    </body>
</html>
