---
import postType from "../types/Post.ts";

export interface Props {
    post: postType;
}

const { post } = Astro.props;
---

<article onclick={`location.href="${post.url}"`}>
    <p class="publish-date">
        <i class="fas fa-calendar-alt"></i>
        {post.publishDate}
    </p>
    <a href={post.url}><h1 class="title">{post.title}</h1></a>
    <p>{post.description}</p>
    <a class="read-more" href={post.url}>Read more...</a>
</article>

<!-- <article>
    <header>
        {post.image && (<img src={post.image.src} alt={post.image.alt ?? post.title} />)}
        <a href={post.url}><h1 class="title">{post.title}</h1></a>
        <p class="publish-date">{post.publishDate}</p>
    </header>
    <p>{post.description}</p>
    <a class="read-more" href={post.url}>Read more...</a>
</article> -->

<style>
    article {
        margin-right: 1rem;
        background: var(--theme-colors-background-contrast);
        color: var(--theme-colors-secondary);

        max-width: 800px;
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    article:hover {
        box-shadow: var(--theme-colors-primary) 0px 0px 15px -6px;
    }

    @media (min-width: 800px) {
        article {
            width: calc(100% - 4rem);
        }
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }
    
    p {
        margin: 0;
    }

    img {
        width: 100%;
        border-radius: 0.5rem;
    }

    .publish-date {
        font-size: 0.8rem;
        color: var(--theme-colors-secondary-dark);
        padding-left: .3rem;
    }

    .read-more {
        display: block;
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: var(--theme-colors-secondary-dark);
        text-decoration: underline;
    }

    .read-more:hover {
        /* color: var(--theme-colors-secondary-dark); */
        filter: brightness(0.2);
    }
</style>