---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, permalink, alt} = content;
console.log(content);
---

<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
    <link rel="stylesheet" href={Astro.resolve('../styles/prism.css')} />
  </head>

  <body>
      <Header title={title} />
      <slot />
      <script>
          console.log(content);
      </script>
  </body>
</html>

